<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mes évènements
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mes évènements</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="subscribeTo()">Subscribe</ion-button>
  <ion-button color="danger" (click)="unsubscribeFrom()">Unsubscribe</ion-button>
  <ion-button color="warning" (click)="getToken()">Get token</ion-button>
  {{ remoteToken }}
  <!--  <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>